body {
    background-image: url('images/DSCF1606-edit.jpg');
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    color: white;
}

img{
    width: 100%;
    filter: blur(4px);
}

img:hover{
    filter: blur(0);
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}